[Unit]
Description=Traefik
Documentation=https://traefik.io
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/traefik/traefik --configfile=/etc/traefik/traefik.yml
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
