{
  "gitlab_domain": "gitlab.dev.borisovai.ru",
  "n8n_domain": "n8n.dev.borisovai.ru",
  "ui_domain": "dns.borisovai.ru",
  "letsencrypt_email": "admin@borisovai.ru",
  "setup_dns_choice": "y",
  "dns_provider_choice": "3",
  "dns_provider": "local",
  "setup_mail_choice": "y",
  "mail_domain": "mail.dev.borisovai.ru",
  "install_traefik": "y",
  "install_gitlab": "n",
  "install_n8n": "n",
  "install_management_ui": "y",
  "install_dns_api": "y",
  "install_mailu": "n",
  "install_cicd": "n",
  "gitlab_runner_token": "{{RUNNER_TOKEN}}",
  "gitlab_runner_tag": "shell-contabo",
  "gitlab_runner_description": "Contabo Single Server",
  "configure_deploy_traefik_choice": "y",
  "frontend_domain": "borisovai.ru",
  "backend_domain": "api.borisovai.ru",
  "gitlab_email": "gitlab@borisovai.ru",
  "base_domains": "borisovai.ru,borisovai.tech",
  "gitlab_prefix": "gitlab",
  "gitlab_middle": "dev",
  "n8n_prefix": "n8n",
  "ui_prefix": "ui",
  "mail_prefix": "mail",
  "site_port": "4001",
  "site_api_port": "4002",
  "n8n_middle": "dev",
  "mail_middle": "dev",
  "frp_control_port": "17420",
  "frp_vhost_port": "17480",
  "frp_dashboard_port": "17490",
  "frp_prefix": "tunnel"
}
